{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {% trans %}Mes ramassages{% endtrans %} {% endblock %}
{% block body %}

<style>
        .img-product {
            width: 50px;
        }
</style>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 id="title-underlined">Mes ramassages</h1>
                <div id="map">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{% trans %}État{% endtrans %}</th>
                                <th scope="col">{% trans %}Date de création{% endtrans %}</th>
                                <th scope="col">{% trans %}Date de ramassage{% endtrans %}</th>
                                <th scope="col">{% trans %}Statut{% endtrans %}</th>
                                <th scope="col">{% trans %}Produits{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for collect in collects %}

                                <tr>
                                    <th scope="row">{{collect.id}}</th>
                                    <td>{{collect.commentary}}</td>
                                    <td>{{collect.dateRegister.timestamp | date('d/m  H:i')}}</td>
                                    <td>
                                        {% if collect.dateCollect == null %}
                                            {% trans %}Aucune{% endtrans %}
                                        {% else %}
                                            {{collect.dateCollect.timestamp | date('d/m')}}
                                        {% endif %}
                                    </td>
                                    <th>{{collect.status.status}}</th>
                                    <th>
                                        <button class="btn btn-primary" data-target="#modal{{collect.id}}" data-toggle="modal">{% trans %}Produits{% endtrans %}</button>
                                    </th>
                                </tr>

                            {% endfor %}
                            
                        </tbody>
                    </table>

                    {% for collect in collects %}

                        <div aria-hidden="true" aria-labelledby="modal{{collect.id}}title" class="modal fade" id="modal{{collect.id}}" role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal{{collect.id}}title">{% trans %}Commande numéro{% endtrans %}
                                            {{collect.id}}</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">{% trans %}Code{% endtrans %}</th>
                                                    <th scope="col">{% trans %}Nom{% endtrans %}</th>
                                                    <th scope="col">{% trans %}Poids{% endtrans %}</th>
                                                    <th scope="col">{% trans %}Marques{% endtrans %}</th>
                                                    <th scope="col">{% trans %}Quantités{% endtrans %}</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table">

                                                {% for article in collect.articles %}

                                                    <tr>
                                                        <th scope="row">{{article.code}}<img src="{{article.image_url}}" class="img-product" alt="{{article.product_name}}"></th>
                                                        <td>{{article.product_name}}</td>
                                                        <td>{{article.quantity}}</td>
                                                        <td>{{article.brands}}</td>
                                                        <th>{{article.quantity_nbr}}</th>
                                                    </tr>

                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">{% trans %}Fermer{% endtrans %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
