{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} {% trans %}Accueil{% endtrans %}{% endblock %}

{% block firstPage %}
    <section id="intro">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="carousel-background"><img src="{{ asset('/img/background/background-1.jpg') }}" alt=""></div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-background"><img src="{{ asset('/img/background/background-2.jpg') }}" alt=""></div>
                </div>

            </div>

        </div>
        <div class="intro-content">
            <h1>{% trans %}Bienvenue sur{% endtrans %} fight food waste</h1>
            <h2>{% trans %}Nous sommes une équipe d'étudiants en informatique qui luttons contre le gaspillage{% endtrans %}</h2>
            <a href="#about" class="btn-get-started">{% trans %}Débuter{% endtrans %}</a>
        </div>
    </section><!-- #hero -->
{% endblock %}

{% block body %}
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">{% trans %}Quelques mots sur nous{% endtrans %}</h2>
                    <p>
                        {% trans %}Le but principal de notre société vise à réduire le gaspillage. Nous proposons plusieurs services afin de collecter et redistribuer des denrées et boissons.{% endtrans %}
                    </p>

                    <div class="icon-box wow flipInX">
                        <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                        <h4 class="title"><a href="">{% trans %}Collectes{% endtrans %}</a></h4>
                        <p class="description">{% trans %}Nous organisons des collectes 3 fois par semaine auprès de particuliers et profesionnels pour récolter des denrées et boissons{% endtrans %}</p>
                    </div>

                    <div class="icon-box wow flipInX" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-photo"></i></div>
                        <h4 class="title"><a href="">{% trans %}Redistributions{% endtrans %}</a></h4>
                        <p class="description">{% trans %}Le jour suivant les collectes, nous organisons une redistribution des produits collectés notamment à des organismes de charité{% endtrans %}</p>
                    </div>

                    <div class="icon-box wow flipInX" data-wow-delay="0.8s">
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <h4 class="title"><a href="">{% trans %}Services{% endtrans %}</a></h4>
                        <p class="description">{% trans %}Nous proposons aussi une variété de services adressés aux adhérents{% endtrans %}</p>
                    </div>

                </div>
                <div class="col-lg-6 order-lg-2 order-1 wow fadeInRight">
                    <video controls="controls" width="700" hight="525" poster="{{ asset('video/thumbnail.jpg') }}">
                        <source src="{{ asset('video/présentation_webgl.mp4') }}" type="video/mp4" />
                    </video>
                </div>
            </div>

        </div>
    </section><!-- #about -->

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">{% trans %}Faits{% endtrans %}</h3>
                <p class="section-description">{% trans %}En chiffres{% endtrans %}</p>
            </div>
            <div class="row counters">

                <div class="col-lg-3 col-6 text-center wow rubberBand">
                    <span data-toggle="counter-up">156</span>
                    <p>{% trans %}Redistributions par an{% endtrans %}</p>
                </div>

                <div class="col-lg-3 col-6 text-center wow rubberBand">
                    <span data-toggle="counter-up">231</span>
                    <p>{% trans %}Adhérents{% endtrans %}</p>
                </div>

                <div class="col-lg-3 col-6 text-center wow rubberBand">
                    <span data-toggle="counter-up">1,463</span>
                    <p>{% trans %}Services{% endtrans %}</p>
                </div>

                <div class="col-lg-3 col-6 text-center wow rubberBand">
                    <span data-toggle="counter-up">15</span>
                    <p>{% trans %}Services{% endtrans %}</p>
                </div>

            </div>

        </div>
    </section><!-- #facts -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Services</h3>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
                        <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
                        <h4 class="title"><a href="">Dolor Sitema</a></h4>
                        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
                        <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
                        <h4 class="title"><a href="">Magni Dolores</a></h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
                        <h4 class="title"><a href="">Nemo Enim</a></h4>
                        <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="box">
                        <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
                        <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                        <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #services -->

    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Call To Action</h3>
                    <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Call To Action</a>
                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Portfolio</h3>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter=".filter-app, .filter-card, .filter-logo, .filter-web" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-logo">Logo</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row" id="portfolio-wrapper">
                <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                    <a href="">
                        <img src="img/portfolio/app1.jpg" alt="">
                        <div class="details">
                            <h4>App 1</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-web">
                    <a href="">
                        <img src="img/portfolio/web2.jpg" alt="">
                        <div class="details">
                            <h4>Web 2</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                    <a href="">
                        <img src="img/portfolio/app3.jpg" alt="">
                        <div class="details">
                            <h4>App 3</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                    <a href="">
                        <img src="img/portfolio/card1.jpg" alt="">
                        <div class="details">
                            <h4>Card 1</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                    <a href="">
                        <img src="img/portfolio/card2.jpg" alt="">
                        <div class="details">
                            <h4>Card 2</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-web">
                    <a href="">
                        <img src="img/portfolio/web3.jpg" alt="">
                        <div class="details">
                            <h4>Web 3</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                    <a href="">
                        <img src="img/portfolio/card3.jpg" alt="">
                        <div class="details">
                            <h4>Card 3</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                    <a href="">
                        <img src="img/portfolio/app2.jpg" alt="">
                        <div class="details">
                            <h4>App 2</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
                    <a href="">
                        <img src="img/portfolio/logo1.jpg" alt="">
                        <div class="details">
                            <h4>Logo 1</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
                    <a href="">
                        <img src="img/portfolio/logo3.jpg" alt="">
                        <div class="details">
                            <h4>Logo 3</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-web">
                    <a href="">
                        <img src="img/portfolio/web1.jpg" alt="">
                        <div class="details">
                            <h4>Web 1</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
                    <a href="">
                        <img src="img/portfolio/logo2.jpg" alt="">
                        <div class="details">
                            <h4>Logo 2</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </section><!-- #portfolio -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">{% trans %}Équipe{% endtrans %}</h3>
                <p class="section-description">{% trans %}Notre équipe est composée d'étudiants en école d'informatique{% endtrans %}</p>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-2.jpg" alt=""></div>
                        <h4>Valentin Roussel</h4>
                        <span>{% trans %}Responsable{% endtrans %}</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-3.jpg" alt=""></div>
                        <h4>Maxime Lalo</h4>
                        <span>{% trans %}Responsable Développement{% endtrans %}</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="img/team-4.jpg" alt=""></div>
                        <h4>Peter Balivet</h4>
                        <span>{% trans %}Responsable Réseau{% endtrans %}</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #team -->
{% endblock %}
{% block javascript %}
{% endblock %}