{% extends 'veterinaire/base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block title %} {{ parent() }} Ajouter un vétérinaire{% endblock %}
{% block body %}
    {{ form_start(form,{'attr':{'class':'col-12 col-xl-8'} }) }}
    {{ form_widget(form) }}
        <p class="mt-3 padding-tb-10">
            <button type="submit" class="btn btn-info">
                <i class="fa fa-plus"></i> Enregistrer
            </button>
        </p>
    {{ form_end(form) }}

    <ul class="list-unstyled mt-5">
        <li>
            <a href="{{ path('veterinaire_liste') }}">
                <i class="fa fa-angle-left"></i> Retour à la liste
            </a>
        </li>
    </ul>
{% endblock %}