{% extends 'veterinaire/base.html.twig' %}
{% block title %}{{ parent() }} Détail vétérinaire{% endblock %}
{% block body %}
    <h1>Détail vétérinaire n° {{ veto.id }}</h1>
    {% for message in app.session.flashBag.get('info') %}
        <div class="alert alert-primary" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    <div class="row my-4">
        <div class="offset-1">
            <img class="det-veto" src="{{ veto.urlImage }} ">
        </div>
    </div>
    <div class="row">
        <div class="col-2 text-right"><strong>Nom : </strong></div>
        <div class="col-9"> {{ veto.nom }} </div>
    </div>
    <div class="row">
        <div class="col-2 text-right"><strong>Adresse : </strong></div>
        <div class="col-9"> {{ veto.adresse }} </div>
    </div>
    <div class="row">
        <div class="offset-2 col-9"> {{ veto.codePostal }} {{ veto.ville }} </div>
    </div>
    <div class="row">
        <div class="col-2 text-right"><strong>Téléphone : </strong></div>
        <div class="col-9"> {{ veto.telephone }} </div>
    </div>
    <ul class="list-unstyled mt-5">
        <li>
            <a href="{{ path('veterinaire_liste') }}">
                <i class="fa fa-angle-left"></i>
                Retour à la liste
            </a>
        </li>
    </ul>
{% endblock %}