{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} {% trans %} Services PàP {% endtrans %}{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-lg-8">
            <h1 id="title-underlined">
                {% trans %}Services PàP{% endtrans %}
                <span class="float-right">
                    <button class="btn btn-success" data-target="#modalNew" data-toggle="modal"><i class="fa fa-plus"></i> {% trans %}Ajouter une annonce{% endtrans %}</button>
                </span>
            </h1>
            <div id="map">
                {% if userOffers is not empty %}
                    <h2>{% trans %}Mes annonces{% endtrans %}</h2>
                    <table class="table table-striped table-sm text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">{% trans %}Titre{% endtrans %}</th>
                            <th scope="col">{% trans %}Créée le{% endtrans %}</th>
                            <th scope="col">{% trans %}Contact{% endtrans %}</th>
                            <th scope="col">{% trans %}Options{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in userOffers %}
                                <tr>
                                    <td>{{ offer.name }}</td>
                                    <td>{{ offer.dateCreate | date('d/m  H:i') }}</td>
                                    <td>{{ offer.contact }}</td>
                                    <td>
                                        <button class="btn btn-success" data-target="#modal{{ offer.id }}" data-toggle="modal"><i class="fa fa-edit"></i></button>
                                        <button class="btn btn-danger" onclick="deleteOffer({{ offer.id }})"><i class="fa fa-trash" style="color:white"></i></button>
                                    </td>
                                </tr>
                        {% else %}
                                <tr>
                                    <td>Vous n'avez pas encore mis d'annonces en ligne</td>
                                </tr>
                        {% endfor %}

                    </tbody>
                </table>
                {% endif %}

                <h2>{% trans %}Annonces des utilisateurs{% endtrans %}</h2>
                <table class="table table-sm table-striped text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>{% trans %}Particulier{% endtrans %}</th>
                            <th>{% trans %}Titre{% endtrans %}</th>
                            <th>{% trans %}Créée le{% endtrans %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for offer in offers %}
                            {% if offer.personCreate != app.user %}
                                <tr>
                                    <td>{{offer.personCreate.firstname}} {{offer.personCreate.lastname}}</td>
                                    <td>{{offer.name}}</td>
                                    <td>{{offer.dateCreate | date('d/m  H:i')}}</td>
                                    <th>
                                        <button class="btn btn-primary" data-target="#modal{{offer.id}}" data-toggle="modal">{% trans %}En savoir plus{% endtrans %}</button>
                                    </th>
                                </tr>
                            {% endif %}
                        {% endfor %}

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

{# On crée des modals différents pour chaque annonce mise par quelqu'un d'autre que l'utilisateur en cours #}
{% for offer in offers %}
    {% if offer.personCreate != app.user %}
        <div aria-hidden="true" aria-labelledby="modal{{offer.id}}title" class="modal fade bd-example-modal-lg" id="modal{{offer.id}}" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal{{offer.id}}title">{{ offer.personCreate.firstName }} - {{ offer.name }}</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ offer.description }}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">{% trans %}Fermer{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div aria-hidden="true" aria-labelledby="modal{{offer.id}}title" class="modal fade bd-example-modal-lg" id="modal{{offer.id}}" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal{{offer.id}}title">{% trans %}Modifier mon annonce{% endtrans %}</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/post/client/offer/modify/{{offer.id}}">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Titre</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="name" value="{{ offer.name }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" name="description">{{ offer.description }}</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Contact</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="contact" value="{{ offer.contact }}">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">{% trans %}Annuler{% endtrans %}</button>
                        <button class="btn btn-success" type="submit">{% trans %}Valider{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
<!-- Modal pour ajouter un objet -->
<div aria-hidden="true" aria-labelledby="modalNewTitle" class="modal fade bd-example-modal-lg" id="modalNew" role="dialog" tabindex="-1"><div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalNewTitle">{% trans %}Ajouter une annonce{% endtrans %}</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{{ path('individual_offers_api')}}" id="addOffer" method="POST">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Titre</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="description"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Contact</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="contact" value="{{ app.user.email }}">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">{% trans %}Retour{% endtrans %}</button>
            <button class="btn btn-success" onclick="$('#addOffer').submit();">{% trans %}Ajouter{% endtrans %}</button>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block customJs %}
    <script type="text/javascript">
        function deleteOffer(offer){
            Swal.fire({
                title: '{% trans %}Attention{% endtrans %} !',
                text: "{% trans %}Êtes-vous sûr de vouloir supprimer cette annonce ?{% endtrans %}",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: '{% trans %}Annuler{% endtrans %}',
                confirmButtonText: '{% trans %}Supprimer{% endtrans %}',
                customClass: {
                    confirmButton: 'btn btn-danger ml-2',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false,
                reverseButtons : 'true'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "DELETE",
                        url : '{{ path('individual_offers_api') }}',
                        data:  {
                            'offer': offer
                        }
                    }).done(function(data){

                    });
                }
            })
        }
    </script>
{% endblock %}
