{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block title %}{{ parent() }} {% trans %}S'enregistrer{% endtrans %}{% endblock %}

{% block firstPage %}
    <h1>{% trans %}S'enregistrer{% endtrans %}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn btn-primary">{% trans %} S'enregistrer{% endtrans %}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
