{% extends 'tableaux_bord/base.html.twig' %}
{% block title %}Nb de suivis{% endblock %}
{% block body %}
    <h1 class="mb-3 mb-lg-5">Nombre de suivis par Vétérinaire</h1>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Vetérinaire</th>
            <th>Adresse</th>
            <th>Nombre de suivis effectués</th>
        </tr>
        </thead>
        <tbody>
            {% for veto in suivisParVeto %}
                <tr>
                    <td>
                        <a href="{{ path('veterinaire_show', {'id': veto.id}) }}">
                            {{ veto.id }}
                        </a>
                    </td>
                    <td>{{ veto.nom }} </td>
                    <td>
                        {{ veto.adresse }}<br>
                        {{ veto.codePostal }} {{ veto.ville }}
                    </td>
                    <td>{{ veto.nbSuivis }} </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun vétérinaire !</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}