{% extends 'activite/base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}{{ parent() }} Rechercher{% endblock %}

{% block body %}
    <h1 class="mb-3 mb-lg-5">Vétérinaires par activité</h1>
    {{ form_start(form) }}
    <div class="d-sm-flex flex-row">
        <div class="col-sm-8 col-xs-6">
            {{ form_widget(form) }}
        </div>
        <div class="col-sm-4 col-xs-6">
            <p class="padding-tb-10">
                <button type="submit" class="btn btn-info">
                    Ok
                </button>
            </p>
        </div>
    </div>
    {{ form_end(form) }}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>CP</th>
                <th>Ville</th>
            </tr>
        </thead>
        <tbody>
            {% if activite is not null %}
                {% for veterinaire in activite.veterinaires %}
                    <tr>
                        <td>{{ veterinaire.id }}</td>
                        <td>{{ veterinaire.nom }}</td>
                        <td>{{ veterinaire.adresse }}</td>
                        <td>{{ veterinaire.codePostal }}</td>
                        <td>{{ veterinaire.ville }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Pas de vétérinaire dans cette catégorie</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}