<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}FFW -{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="{{ asset('img/favicon.png') }}" rel="icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">


    <!-- =======================================================
      Theme Name: Regna
      Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>
{% if debug is defined %}
    <pre>
        {{ dump(debug) }}
    </pre>
{% endif %}
{% block firstPage %}

{% endblock %}

<!--==========================
Header
============================-->


<header id="header" class="header-fixed">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="{{ path('home') }}"><img class="logo-img" src="{{ asset('img/logo.png') }}" alt="Logo fight food waste"/></a>
            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="#hero">Regna</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li {% if app.request.server.get('REQUEST_URI') == path('home') %} class="menu-active" {% endif  %} ><a href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a></li>

                {% block navbar %}
                {% endblock %}

                <li><a href="{{ path('contact') }}">{% trans %}Nous contacter{% endtrans %}</a></li>
                {# Si on est pas connecté #}
                {% if app.user == false %}
                    <li><a href="{{path("security_login")}}">{% trans %}Connexion{% endtrans %}</a></li>
                    <li><a href="{{path("security_signup")}}">{% trans %}S'enregistrer{% endtrans %}</a></li>

                {# Si on est admin du site #}
                {% elseif app.user.getAdminSite() == 1 %}
                    <li><a href="{{path("admin_manage")}}">{% trans %}Gestion{% endtrans %}</a></li>

                {# Si on est bénévole #}
                {% elseif app.user.getVolunteer() == 1 %}
                    {% if app.user.getService().getId() is defined and app.user.getService().getId() == 1 %}
                        <li><a href="{{path("drivers_work", {'id' : app.user.id})}}">{% trans %}Collectes{% endtrans %}</a></li>
                    {% elseif app.user.getService().getId() is defined and app.user.getService().getId() == 2 %}
                        <li><a href="{{path("stock_work")}}">{% trans %}Rangements{% endtrans %}</a></li>
                    {% endif %}

                {# Si on est interne #}
                {% elseif app.user.getInternal() == 1 %}
                    {% if app.user.getService().getId() is defined and app.user.getService().getId() == 1 %}
                        <li><a href="{{path("drivers_work", {'id' : app.user.id})}}">{% trans %}Collectes{% endtrans %}</a></li>
                    {% endif %}

                {# Si on est client ??? #}
                {% else %}
                    <li><a href="{{ path("client_jobs") }}">{% trans %}Mes ramassages{% endtrans %}</a></li>
                    
                    <li class="menu-has-children"><a href="#">{% trans %}Services{% endtrans %}</a>
                        <ul>
                            <li><a href="{{path("waste_advices")}}">{% trans %}Conseils anti-gaspi{% endtrans %}</a></li>
                            <li><a href="{{path("cooking_class")}}">{% trans %}Cours de cuisine{% endtrans %}</a></li>
                            <li><a href="{{path("individual_offers")}}">{% trans %}Services PàP{% endtrans %}</a></li>
                            <li><a href="{{path("guarding")}}">{% trans %}Gardiennage{% endtrans %}</a></li>
                        </ul>
                    </li>
                {% endif %}

                {# Si on est connecté, on affiche le bouton de déconnexion #}
                {% if app.user %}
                    <li><a href="{{ path("view_profile") }}">{{app.user.username}}</a></li>
                    <li><a href="{{ path('security_logout') }}"><i class="fa fa-power-off"></i></a></li>
                {% endif %}

                {# Bloc concernant l'affichage des drapeaux #}
                <li class="menu-has-children"><a href="#"><img src="{{ asset('/img/flags/' ~ app.request.locale ~ '.png') }}" height="32px" alt="selected flag"></a>
                    <ul>
                        {# A chaque fois si le drapeau est celui sélectionné alors on ne l'affiche pas #}
                        {% if app.request.locale != 'fr' %}
                            <li><a href="{{ path(app.request.get('_route'),{'_locale' : 'fr'}) }}"><img src="{{ asset('/img/flags/fr.png') }}" height="32px" alt="french flag"></a></li>
                        {% endif %}

                        {% if app.request.locale != 'pt' %}
                            <li><a href="{{ path(app.request.get('_route'),{'_locale' : 'pt'}) }}"><img src="{{ asset('/img/flags/pt.png') }}" height="32px" alt="portuguese flag"></a></li>
                        {% endif %}
                        {% if app.request.locale != 'it' %}
                            <li><a href="{{ path(app.request.get('_route'),{'_locale' : 'it'}) }}"><img src="{{ asset('/img/flags/it.png') }}" height="32px" alt="italian flag"></a></li>
                        {% endif %}

                        {% if app.request.locale != 'en' %}
                            <li><a href="{{ path(app.request.get('_route'),{'_locale' : 'en'}) }}"><img src="{{ asset('/img/flags/en.png') }}" height="32px" alt="uk flag"></a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>

        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<main id="main">

        {% block body %}
        {% endblock %}
</main>
{% include 'footer.html.twig' %}
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->


<script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('lib/jquery/jquery-migrate.min.js') }}"></script>
<script src="{{ asset('lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('lib/easing/easing.min.js') }}"></script>
<script src="{{ asset('lib/wow/wow.min.js') }}"></script>
<script src="{{ asset('lib/waypoints/waypoints.min.js') }}"></script>
<script src="{{ asset('lib/counterup/counterup.min.js') }}"></script>
<script src="{{ asset('lib/superfish/hoverIntent.js') }}"></script>
<script src="{{ asset('lib/superfish/superfish.min.js') }}"></script>
<script src="{{ asset('lib/owlcarousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('lib/touchSwipe/jquery.touchSwipe.min.js') }}"></script>

{% block javascript %}
{% endblock %}

<!-- Contact Form JavaScript File -->
<script src="{{ asset('contactform/contactform.js') }}"></script>
<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<!-- Template Main Javascript File -->
<script src="{{ asset('js/main.js') }}"></script>

<!-- Bibliothèque et options de base pour l'éditeur de textarea WYSIWYG -->
<script type="text/javascript" src="{{ asset('lib/TinyMCE/tinymce.min.js') }}"></script>
<script type="text/javascript">
    var defaultToolbar = "undo redo | bold underline italic | forecolor backcolor fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent | link | table | emoticons";
    tinymce.init({
        menubar:false,
        statusbar: true,
        selector: 'textarea',
        language: 'fr_FR',
        plugins: 'link table textcolor image autolink wordcount contextmenu emoticons lists',
        toolbar: defaultToolbar,
        relative_urls: false,
        height: 300,
        default_link_target: "_blank",
        link_title: false,
        branding: false,
        contextmenu: "link image inserttable | cell row column deletetable"
    });

    const swalBootstrap = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
    })

</script>
{% block customJs %}
{% endblock %}
{% if quickAlert is defined %}
    <script type="text/javascript">
        Swal.fire({
            'title': '{{ quickAlert.title }}',
            'html': '{{ quickAlert.text }}',
            'type': '{{ quickAlert.icon }}'
        });
    </script>
{% endif %}
</body>
</html>
