<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="en" http-equiv="Content-Language">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <title>
            {% block title %}FFW
            {% endblock %}
        </title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport"/>
        <meta content="This is an example dashboard created using build-in elements and components." name="description">
        <meta
        content="no" name="msapplication-tap-highlight">
        <!--
                    =========================================================
                    * ArchitectUI HTML Theme Dashboard - v1.0.0
                    =========================================================
                    * Product Page: https://dashboardpack.com
                    * Copyright 2019 DashboardPack (https://dashboardpack.com)
                    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
                    =========================================================
                    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
                    -->
        <link href="{{ asset('img/favicon.png') }}" rel="icon">
        <link href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('lib/peicon/pe-icon.css') }}" rel="stylesheet">
        <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
    </head>

    <body>
        <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
            <div class="app-header header-shadow">
                <div class="app-header__logo">
                    <a href="{{ path('home') }}"><img style="height: 20px;" src="{{ asset('img/logo_noir.png') }}" alt="Logo fight food waste"/></a>

                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button class="hamburger hamburger--elastic mobile-toggle-nav" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav" type="button">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="app-header__content">
                    <div class="app-header-left">
                        <div class="search-wrapper">
                            <div class="input-holder">
                                <input class="search-input" placeholder="Type to search" type="text">
                                <button class="search-icon">
                                    <span></span>
                                </button>
                            </div>
                            <button class="close"></button>
                        </div>
                        <ul class="header-menu nav">

                            <li {% if app.request.server.get('REQUEST_URI') == path('home') %} class="menu-active {% endif  %}nav-item">
                                <a class="nav-link" href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a>
                            </li>
                            <li {% if app.request.server.get('REQUEST_URI') == path("admin_manage") %} class="menu-active {% endif  %}nav-item">
                                <a class="nav-link" href="{{path("admin_manage")}}">{% trans %}Gestion{% endtrans %}</a>
                            </li>

                        </ul>
                    </div>
                    <div class="app-header-right">
                        <div class="header-btn-lg pr-0">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="btn-group">
                                            <a aria-expanded="false" aria-haspopup="true" class="p-0 btn" data-toggle="dropdown">
                                                <img width="42" class="rounded-circle" src="{{ asset('/img/flags/' ~ app.request.locale ~ '.png') }}" alt="">
                                            </a>
                                            <div aria-hidden="true" class="dropdown-menu dropdown-menu-right" role="menu" tabindex="-1">
                                                {% if app.request.locale != 'fr' %}
                                                    <button class="dropdown-item" tabindex="0" type="button">
                                                        <a class="nav-link" href="{{ path('home',{'_locale' : 'fr'}) }}"><img src="{{ asset('/img/flags/fr.png') }}" height="32px" alt="french flag">Français</a>
                                                    </button>
                                                {% endif %}
                                                {% if app.request.locale != 'pt' %}
                                                    <button class="dropdown-item" tabindex="0" type="button">
                                                        <a class="nav-link" href="{{ path('home',{'_locale' : 'pt'}) }}"><img src="{{ asset('/img/flags/pt.png') }}" height="32px" alt="portuguese flag">Português</a>
                                                    </button>

                                                {% endif %}
                                                {% if app.request.locale != 'it' %}
                                                    <button class="dropdown-item" tabindex="0" type="button">
                                                        <a class="nav-link" href="{{ path('home',{'_locale' : 'it'}) }}"><img src="{{ asset('/img/flags/it.png') }}" height="32px" alt="italian flag">Italiano</a>
                                                    </button>

                                                {% endif %}
                                                {% if app.request.locale != 'en' %}
                                                    <button class="dropdown-item" tabindex="0" type="button">
                                                        <a class="nav-link" href="{{ path('home',{'_locale' : 'en'}) }}"><img src="{{ asset('/img/flags/en.png') }}" height="32px" alt="uk flag">English</a>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content-left  ml-3 header-user-info">
                                        <div class="widget-heading">
                                            <a href="{{path("view_profile_admin", {'id' : app.user.id})}}">{{app.user.firstname}}
                                                {{app.user.lastname}}</a>
                                        </div>
                                        <div class="widget-subheading">
                                            {% trans %}Administrateur du site{% endtrans %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-main">
                <div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <div class="logo-src"></div>
                        <div class="header__pane ml-auto">
                            <div>
                                <button class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar" type="button">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button class="hamburger hamburger--elastic mobile-toggle-nav" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav" type="button">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                    </div>
                    <div class="scrollbar-sidebar">
                        <div class="app-sidebar__inner">
                            <ul class="vertical-nav-menu">
                                <li class="app-sidebar__heading">{% trans %}Tableau de bord{% endtrans %}</li>
                                <li>
                                    <a href="{{ path('admin_manage')}}" {% block adminManage %} {% endblock %}>
                                        {% trans %}Tableau de bord principal{% endtrans %}
                                    </a>
                                </li>
                                <li class="app-sidebar__heading">{% trans %}Gestion Staff{% endtrans %}</li>
                                
                                <li>
                                    <a href="#" {% block staff %}{% endblock %}>
                                        {% trans %}Staff{% endtrans %}
                                    </a>
                                    <ul>
                                        <li><a href="{{ path('manage_staff')}}" {% block manageStaff %} {% endblock %}><i class="metismenu-icon"></i>{% trans %}Staff complet{% endtrans %}</a></li>
                                        <li><a href="{{ path('manage_signups')}}"{% block manageSignups %} {% endblock %}><i class="metismenu-icon"></i>{% trans %}Inscriptions{% endtrans %}</a></li>
                                        <li><a href="{{ path('manage_no_services')}}" {% block manageNoServices %} {% endblock %}><i class="metismenu-icon"></i>{% trans %}Staff sans services{% endtrans %}</a></li>
                                    </ul>
                                </li>
                                <li class="app-sidebar__heading">{% trans %}Services{% endtrans %}</li>
                                <li>
                                    <a href="{{ path('manage_services')}}" {% block manageServices %} {% endblock %}>
                                        {% trans %}Touts les services{% endtrans %}
                                    </a>
                                </li>
                                <li class="app-sidebar__heading">{% trans %}Gestion Collectes{% endtrans %}</li>
                                
                                <li>
                                    <a href="#" {% block collects %}{% endblock %}>
                                        {% trans %}Collectes{% endtrans %}
                                    </a>
                                    <ul>
                                        <li><a href="{{ path('manage_collects') }}" {% block manageCollects %} {% endblock %}><i class="metismenu-icon"></i>{% trans %}Toutes les collectes{% endtrans %}</a></li>
                                        <li><a href="{{ path('manage_no_check') }}"{% block manageNoCheck %} {% endblock %}><i class="metismenu-icon"></i>{% trans %}Collectes en attentes{% endtrans %}</a></li>
                                        <li><a href="#" {% block manageTDCollect %} {% endblock %}><i class="metismenu-icon"></i>{% trans %}Collectes de la journée{% endtrans %}</a></li>
                                    </ul>
                                </li>
                                <li class="app-sidebar__heading">{% trans %}Calendrier{% endtrans %}</li>
                                <li>
                                        <a href="#" {% block planning %}{% endblock %}>
                                                {% trans %}Calendrier{% endtrans %}
                                            </a>
                                        <ul>
                                                <li><a href="{{ path('manage_pla_driver') }}" {% block managePlaDriver %} {% endblock %}><i class="metismenu-icon"></i>{% trans %}Calendrier Chauffeur{% endtrans %}</a></li>
                                                <li><a href="{{ path('manage_pla_harrange') }}"{% block managePlaHarrange %} {% endblock %}><i class="metismenu-icon"></i>{% trans %}Calendrier Aide au Logement{% endtrans %}</a></li>
                                                <li><a href="{{ path('manage_pla_waste') }}"{% block managePlaWaste %} {% endblock %}><i class="metismenu-icon"></i>{% trans %}Calendrier Conseil Anti-gaspi{% endtrans %}</a></li>
                                                <li><a href="{{ path('manage_pla_course') }}"{% block managePlaCourse %} {% endblock %}><i class="metismenu-icon"></i>{% trans %}Calendrier Cours de cuisine{% endtrans %}</a></li>
                                                <li><a href="{{ path('manage_pla_guard') }}"{% block managePlaGuard %} {% endblock %}><i class="metismenu-icon"></i>{% trans %}Calendrier Gardiennage{% endtrans %}</a></li>
                                        </ul>
                                </li>
                                <li class="app-sidebar__heading">{% trans %}Véhicules{% endtrans %}</li>
                                <li>
                                    <a href="{{ path('manage_vehicules') }}" {% block manageVehicules %} {% endblock %}>
                                        {% trans %}Touts les Véhicules{% endtrans %}
                                    </a>
                                </li>
                                <li class="app-sidebar__heading">{% trans %}Entrepôts{% endtrans %}</li>
                                <li>
                                    <a href="{{ path('manage_warehouses') }}" {% block manageWarhouses %} {% endblock %}>
                                        {% trans %}Touts les Entrepôts{% endtrans %}
                                    </a>
                                </li>
                                
                                <!-- Ajouté des dashboards ici -->
                                </ul>
                            </div>
                        </div>
                        {% block sideBar %}{% endblock %}
                    </div>
                    <div class="app-main__outer">
                        <div class="app-main__inner">
                            {% block mainPane %}{% endblock %}
                            <div class="app-wrapper-footer">
                                <div class="app-footer">
                                    <div class="app-footer__inner">
                                        {% block painFooter %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
                    </div>
                </div>
                <script type="text/javascript" src="{{ asset('js/admin.js') }}"></script>
            </body>

        </html>
    </body>
</html>
