{% extends 'suivi/base.html.twig' %}

{% block title %}{{ parent() }} Liste des suivis{% endblock %}

{% block body %}
    <h1>Liste des suivis</h1>
    {% for message in app.session.flashBag.get('erreur') %}
        <div class="alert alert-danger" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('alerte') %}
        <div class="alert alert-warning" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    <p class="text-center padding-tb-10">
        <a href="{{  path('suivi_new') }}" class="btn btn-primary">
            <i class="fa fa-edit"></i> Nouveau suivi
        </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Vétérinaire</th>
                <th>Contact</th>
                <th>Commentaire</th>
                <th>Date appel</th>
                <th>Actions</th>
            </tr>
        </thead>
        </tbody>
            {% for suivi in lesSuivis %}
                <tr>
                    <td>{{ suivi.id }}</td>
                    <td>{{ suivi.veterinaire.nom }}</td>
                    <td>{{ suivi.nomContact }}</td>
                    <td>{{ suivi.commentaire }}</td>
                    <td>{{ suivi.dateAppel|date('d/m/Y') }}</td>
                    <td>
                        <ul>
                            <li><a href="{{ path('suivi_show',{'id' : suivi.id}) }}">Voir</a></li>
                            <li><a href="{{ path('suivi_edit',{'id' : suivi.id}) }}">Éditer</a></li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas de suivis à afficher</td>
                </tr>
            {% endfor %}
        <tbody>

    </table>
{% endblock %}
