{% extends 'suivi/base.html.twig' %}
{% block title %}{{ parent() }} Détail suivi{% endblock %}
{% block body %}
    <h1>Détail suivi n° {{ suivi.id }}</h1>
    {% for message in app.session.flashBag.get('info') %}
        <div class="alert alert-primary" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-2 text-right"><strong>Vétérinaire : </strong></div>
        <div class="col-9"> {{ suivi.veterinaire.nom }} </div>
    </div>
    <div class="row">
        <div class="col-2 text-right"><strong>Adresse : </strong></div>
        <div class="col-9"> {{ suivi.veterinaire.adresse }} </div>
    </div>
    <div class="row">
        <div class="offset-2 col-9"> {{ suivi.veterinaire.codePostal }} {{ suivi.veterinaire.ville }} </div>
    </div>
    <div class="row">
        <div class="col-2 text-right"><strong>Contact : </strong></div>
        <div class="col-9"> {{ suivi.nomContact}} </div>
    </div>
    <div class="row">
        <div class="col-2 text-right"><strong>Commentaire : </strong></div>
        <div class="col-9"> {{ suivi.commentaire }} </div>
    </div>
    <div class="row">
        <div class="col-2 text-right"><strong>Date Appel : </strong></div>
        <div class="col-9"> {{ suivi.dateAppel|date('d/m/Y') }} </div>
    </div>
    <ul class="list-unstyled mt-5">
        <li>
            <a href="{{ path('suivi_liste') }}">
                <i class="fa fa-angle-left"></i>
                Retour à la liste
            </a>
        </li>
    </ul>
{% endblock %}